/* Colors */
body {
	font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif;
	background-color: #edeef0;
}
.red {
	background-color: #c9161a !important;
}
.red-text {
	color: #c9161a !important;
}
.red-hover:hover
.red-hover:focus {
	background-color: #c9161a !important;
}
.red-text-hover:hover,
.red-text-hover:focus {
	color: #c9161a !important;
}
.light-brown {
	background-color: #ac976b !important;
}
.light-brown-text {
	color: #ac976b !important;
}
.light-brown-hover:hover
.light-brown-hover:focus {
	background-color: #ac976b !important;
}
.light-brown-text-hover:hover,
.light-brown-text-hover:focus {
	color: #ac976b !important;
}
/* Structure */
.large-basic-container {
	max-width: 1000px;
	margin: auto;
}
.medium-basic-container {
	max-width: 750px;
	margin: auto;
}
.small-basic-container {
	max-width: 500px;
	margin: auto;
}

#content {
/*	min-height: 100%;
	margin-bottom: 354px;*/
}

footer {
/*	height: 282px;
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;*/
}

/* Styling */
*:focus {
	outline: 0;
}
.transition {
	-webkit-transition: 0.25s; /* Safari */
	transition: 0.25s;
}
.long-transition {
	-webkit-transition: 0.6s; /* Safari */
	transition: 0.6s;
}
.small-radius {
	border-radius: 5px !important;
}

.large-radius {
	border-radius: 10px !important;
}

.small-icon {
	height: 20px;
}

.full-width {
	width: 100%;
}

.header {
	font-family: "Segoe UI", Georgia, Serif;
	letter-spacing: 1px;
}
.overlay-text {
	font-size: 45px;
	font-weight: bold;
	letter-spacing: 3px;
	color: white;
	text-shadow: 2px 2px 4px #000000;
}
p.overlay-text {
	font-size: 14px;
	letter-spacing: 2px;
	line-height: 26px;
}

.darken-on-hover:hover,
.darken-on-hover:focus {
	-webkit-filter: brightness(80%); /* Safari 6.0 - 9.0 */
	filter: brightness(80%);
}

/* Functional */
.unselectable {
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
}

.clickable {
	cursor: pointer;
}

/* Elements */
button {
	font-family: "Segoe UI", Georgia, Serif;
	font-size: 14px;
	letter-spacing: 2px;

	padding: 12px 15px;

	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
}
button.black-button {
	color: #fff;
	background-color: #000000;
}
button.black-button:hover,
button.black-button:focus {
	background-color: #272727;
}
button.transparent-white-button {
	color: #fff;
	background-color: rgba(0, 0, 0, 0.4);
	border: 3px solid white;
}
button.transparent-white-button:hover,
button.transparen-white-button:focus {
	background-color: rgba(0, 0, 0, 0.7); 
}

/* header */
header {
	background-color: #000000;
	color: #ffffff;
	margin-bottom: 20px;
}
header .meat {
	height: 44px;
}
header .meat .big-skinny-logo {
	height: 70px;
	position: relative;
	top: 10px;
}
header .meat .search-bar {
	transform: scale(0.7);
	position: relative;
	left: 65px;
	bottom: 1px;
}
header .meat .search-bar input {
	opacity: 0;
	-webkit-transition: width 1s; /* Safari */
	transition: width 1s;

	width: 0px;
	float: right;
	z-index: -1;

	position: relative;
	left: 70px;
}
header .meat .search-bar .search-icon {
	-webkit-filter: brightness(1000%); /* Safari 6.0 - 9.0 */
	filter: brightness(1000%);
	height: 24px;
	position: relative; 
	top: 5px;
	padding-left: 10px; 
	border-left: 1px solid black;
}

header .meat .user-actions {
	font-size: 12px;
	font-weight: bold;
	position: relative;
	top: 12px;
}
header .meat .user-action:hover,
header .meat .user-action:focus {
	transform: scale(1.1);
}
header .meat #account-link {
	position: relative;
	left: 16.6%;
}
header .meat .small-icon {
	position: relative;
	bottom: 1px;
	left: 2px;
}
header #nav-link-row {
	padding-top: 10px;
	padding-bottom: 10px;
}
header #nav-link-row .column {
	text-align: center;
}
header .nav-link {
	font-size: 13px;
	letter-spacing: 1px;
	color: #afafaf;
}
header .nav-link:hover,
header .nav-link:focus {
	color: #96443e;
}
header .header-bottom-half {
	background-color: #edeef0;
	text-align: center;
	border-bottom: 1px solid #d7d8d9;
	padding-top: 16px;
	padding-bottom: 16px;
}
header .header-bottom-half a,
header .header-bottom-half a:hover,
header .header-bottom-half a:focus {	
	color: #000000;
}
header .logo.top-half {
	font-family: "Bodoni MT", Georgia, Serif;
	font-size: 50px;
}
header .logo.bottom-half {
	position: relative;
	bottom: 15px;
	font-family: "Segoe UI", Georgia, Serif;
	font-size: 20px;
	letter-spacing: 1px;
}
.reveal {
	font-family: "Segoe UI", Georgia, Serif;
	letter-spacing: 1px;
}
.reveal .header {
}
.reveal .contact-field {
}
.reveal .contact-field label {

}
.reveal .contact-field input {
	background-color: #f8f8f8;
	border-radius: 4px;
}
.reveal .contact-field textarea {
	background-color: #f8f8f8;
	height: 160px;
	border-radius: 4px;
}

/* footer */
footer {
	margin-top: 50px;
	color: #303030;
	font-family: "Segoe UI", Georgia, Serif;
}
footer .top-half {
	padding-bottom: 20px;
	position: relative;
	top: 20px;
}
footer .top-half .first.row {
	padding-top: 20px;
	border-top: 2px solid #d7d8d9;
}
footer h5 {
	font-family: "Segoe UI", Georgia, Serif;
	font-size: 15px;
	letter-spacing: 1px;
}
footer .footer-link {
	text-decoration: none;
	font-size: 13px;
	color: #303030;
}
footer .footer-link:hover,
footer .footer-link:focus {
	color: #96443e;
}
footer .footer-statement {
	padding-left: 6%;
	padding-right: 6%;
}
footer .extra-info {
	margin-top: 20px;
}
footer .extra-info .accepted-cards {
	height: 32px;
}
footer .extra-info .social-media-links {
	float: right;
}
footer .extra-info .social-media-image {
	height: 50px;
	filter: saturate(0.1);

	position: relative;
	top: 15px;

	z-index: 1;
}
footer .extra-info .social-media-image:hover,
footer .extra-info .social-media-image:focus {
	filter: saturate(1);
}
footer .bottom-half {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #1c1c1c;
	color: #757575;
}

/* Products */
.item-browse {
	background-color: #dadad2;
}
.item-thumbnail {
	/*height: 50px;*/
}