/* Content */
#content .large-basic-container .row {
	width: 1000px;
}
#content .large-basic-container .row + .row {
	margin-top: 40px;
}
#content .row.header {
	text-align: center;

	position: relative;
	top: 20px;
}
#content .large-basic-container .row .small-4.columns {
/*	padding-left: 5px;
	padding-right: 5px;*/
}
#content img {
	margin: 0 auto;
}

/* Home */
#video-overlay {
	height: 300px;
	text-align: center;
	vertical-align: middle;

	padding-top: 40px;
}

#video-overlay .header {
	font-size: 45px;
	font-weight: bold;
	letter-spacing: 3px;
	color: white;
	text-shadow: 2px 2px 4px #000000;
}

#video-overlay button {
	margin-top: 20px;
}