#content {
 background-color: white;
 padding-bottom: 50px;
}
#content .row.header {
	text-align: center;

	position: relative;
	top: 40px;
}
.item-image {
	margin: 5px auto;
}

.item-image:hover {
	cursor: pointer;
}

#suggestion-button {
	display: block;
	margin: 0 auto;
	margin-top: 20px;
}