video {
	width: 100%    !important;
	height: auto   !important;
	margin-top: -78px;
	filter: brightness(60%);
}

#video-overlay {
	position: relative;
	top: 100px;
}

label.overlay-text {
	font-size: 24px;
	letter-spacing: 2px;
	padding-right: 15px;
}
label.overlay-text.active {
	border-right: 4px solid white;
}
label.overlay-text:not(.active):hover,
label.overlay-text:not(.active):focus {
	border-right: 4px solid #818181;
	color: #818181;
}
label.overlay-text + label.overlay-text {
	margin-top: 10px;
}

.description-navigation {
	text-align: right;
	padding-right: 20px;

	border-right: 4px solid white;
}

.description {
	margin-top: 20px;
	display: none;
}
.description.active {
	display: inherit;
}