<div class="row" style="text-align: center; padding: 20px 0; border-bottom: 2px solid #d7d8d9;">
	<div class="header">
		CONTACT BIG SKINNY
	</div>
</div>
<div class="row">
	<div class="small-6 column">
	</div>

	<div class="small-6 column">

	</div>
</div>